// app global css in SCSS form
.titleHome {
  font-size: 38px;
  text-align: center;
}

.marginHome {
  margin-left: 5%;
}

.marginImage {
  margin-top: 5%;
}

.lobbyCode {
  font-size: 12px;
  float: right;
}

.joueur {
  font-size: 15px;
}
